In [4]:
import numpy as np
import pandas as pd

x = np.array([1,2,3,5,10,100,100,2000,5000,10000])
df = pd.DataFrame(x)
df.describe()

                  0
count     10.000000
mean    1722.100000
std     3322.713999
min        1.000000
25%        3.500000
50%       55.000000
75%     1525.000000
max    10000.000000